@keyframes op{
	from {opacity: 0%;}
	to {opacity: 100%;}
}

html{
	background-color: lightblue;

}

body {
	font-family: Verdana;
	font-size: 16px;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid lightblue;
	line-height: 1.8;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



a{
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: :none;
}

h1 {
	font-size: 3.5em;
	color:white;
	background-color: #292a8a;
	margin-top: 0%;
	padding-bottom: 3%;
	padding-top: 2%;
	animation-name: op;
	animation-duration: 1s;

}

h2 {
	font-size:1.5em;
}
div{
	border-style:solid solid solid solid;
	border-color: lightblue;
	border-width: 1px;
	border-radius: 4%;
	margin: 20px 10px 20px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: op;
	animation-duration: 2s;
	transition: background-color .5s ease;

}

div:hover{
	background-color: lightblue;
}

img{
	border: 1px solid lightblue;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

